@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding:32px 32px 0 32px;
    width:100%;
    overflow:hidden;
}

.nav__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__links--left{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem !important;
    margin-left: 0px !important;
}

.nav__img {
    width: 2.5rem;
    margin-right: 0.75rem;
}

.nav__links--right{
    display: flex;
    justify-self: space-around;
}

.nav__link--right{
    margin: 0 24px;
    padding: 0px 0px 24px;
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: 0.025rem;
    padding-bottom: 0.25rem;
    font-size: 14px;
}

.nav__link--sep{
    margin: 0 24px 0 48px;
}

.purple__box{
    border-radius: 9999px;
    border: none;
    background-color: #6415FF;
    color: #F7FAFC !important;
    padding: 12px 32px;
    margin: 0;
    white-space: nowrap;
    text-align: center;
}

.burger{
    background-color: transparent;
    border: none;
    font-size: 24px;
    text-align: center;
    color: #718096;
    display: none;
}

.fa, .fas{
    font-weight: 900;
}

.burger__menu{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    margin: 24px 16px;
    padding: 32px;
    border: 1px solid #c6cbd1;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 8px;
    height: 45vh;
}

.burger__close{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.burger__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger__item{
    padding-bottom: 4px;
    margin: 8px 0;
}

.burger__link{
    font-size: 18px;
    color: #1A202C;
    font-weight: 600;
    letter-spacing: 0.025em;
}

.burger__item{
    padding-bottom: 4px;
    margin: 8px 0
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 96px 0;
}

.about__columns {
    display: flex;
}

.about__left--column {
    display: flex;
    flex-direction: column;
    width: 41.667%;
    max-width: none;
    margin: 0 auto;
    text-align: center;
}

.about__header {
    font-weight: 700;
    color: #1A202C;
    line-height: 1.25;
    text-align: left;
}

.purple__text {
    color: #6415FF;
}

.about__para {
    margin: 32px 0;
    color: #243E63;
    font-size: 1.125rem;
    width: 100%;
    font-weight: 500;
    text-align: left;
    position: relative;
}

.left__column--inputs {
    padding: 20px 12rem 20px 32px;
    background-color: #FFF;
    display: flex;
    border-radius: 32px;
    border: 2px solid #e6e7eb;
    max-width: 28rem;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.about__email {
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #718096;
    flex-grow: 2;
}

.about__button {
    margin: 8px 8px 8px 0;
    position: absolute;
    max-width: 10rem;
    width: 100%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 16px 0;
    line-height: 1;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    font-size: 16px;
    overflow: hidden;
}

.left__column--trusted {
    margin-top: 80px;
    text-align: left;
}

.about__img--description {
    color: #A0AEC0;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0;
}

.about__left--img {
    margin-top: 16px;
    opacity: 0.5;
    padding-right: 128px;
    width: 100%;
    height: auto;
}

.about__right--column {
    max-width: 58.333%;
}

.about__right--img {
    width: 100%;
}

/* FEATURES */

#features{

}

.features__description {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.features__title {
    margin-bottom: 16px;
}

h1 {
    font-size: 48px;
    width: 100%;
    font-weight: 900;
    letter-spacing: 0.025em;
    text-align: center;
    color: #243E63;
}

p {
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
    font-size: 18px;
    color: #7C8BA1;
    font-weight: 500;
    line-height: 1.625;
    max-width: 36rem;
}